.App {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}
.App-logo {
    height: 160px;
    pointer-events: none;
    transition: transform var(--transition-speed) ease;
    width: 160px;
}
.App-header {
    align-items: center;
    background-repeat: repeat;
    background-size: 50px 50px; /* Adjust the size of the repeated tiles */
    box-shadow: 0 4px 12px var(--shadow-light);
    color: var(--text-light);
    display: flex;
    flex-direction: column;
    width: 100%;

    /* Apply the gradient first, then the baby texture */
    background-image:
      url('./assets/baby_texture.png'), /* Texture image */
      linear-gradient(to bottom right, rgba(0, 0, 0, 0.4), rgba(255, 0, 255, 0.5)); /* Gradient */
}


.container {
    max-width: 1200px;
    padding: 0 1rem;
    text-align: center;
    width: 100%;
}
.App-link {
    color: var(--primary-color);
    font-weight: 500;
    text-decoration: none;
    transition: color var(--transition-speed) ease;
}
.App-link:hover {
    color: #8a80ff;
}
@keyframes App-logo-spin {
    0% {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(1turn);
    }
}
.calculator {
    align-items: center;
    /* background-color: var(--light-bg-color); */
    border-radius: var(--border-radius);
    /* box-shadow: 0 4px 8px var(--shadow-light); */
    display: flex;
    flex-direction: column;
    gap: rem;
    max-width: 500px;
    padding: 1rem;
    transition: background-color var(--transition-speed);
    width: 100%;
}
input[type="date"] {
    background-color: var(--light-bg-color);
    border: 10px solid #ddd;
    border-radius: var(--border-radius);
    box-shadow: 0 2px 5px var(--shadow-light);
    color: var(--text-color);
    font-size: 1rem;
    max-width: 300px;
    padding: 0.75rem 3rem 0.75rem 1rem;
    transition: all var(--transition-speed) ease;
    width: 100%;
}
input[type="date"]:focus {
    background-color: #fff;
    border-color: var(--primary-color);
    box-shadow: 0 4px 8px var(--shadow-dark);
}
input[type="date"]:hover {
    border-color: #bbb;
}
input[type="date"]::placeholder {
    color: #aaa;
}
.input-wrapper {
    margin: auto;
    max-width: 300px;
    position: relative;
}
.input-wrapper .icon {
    color: #bbb;
    pointer-events: none;
    position: absolute;
    right: 1rem;
    top: 50%;
    transform: translateY(-50%);
}
.navigation .btn {
    margin: 0 5px;
}
.message {
    border-radius: var(--border-radius);
    box-shadow: 0 2px 6px var(--shadow-light);
    color: var(--text-color);
    font-size: 1.1em;
    line-height: 1.5;
    margin: 20px auto 0;
    max-width: 80%;
    height: 400px; /* Set a fixed height */
    overflow: hidden; /* Ensures that long text doesn't break the layout */
    opacity: 0;
    padding: 15px 20px;
    text-align: center;
    transition: opacity 0.5s ease-in-out;
}

.message.show {
    opacity: 1;
}
