/* Global Styles */
*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden; /* Prevent horizontal scroll */
}

/* Theme Variables */
:root {
  --primary-color: #6c63ff;
  --header-bg-color: #1f1137; /* Purple header background */
  --light-bg-color: #f9f9f9;
  --text-color: #333;
  --text-light: #ffffff;
  --shadow-light: rgba(0, 0, 0, 0.1);
  --shadow-dark: rgba(0, 0, 0, 0.2);
  --border-radius: 8px;
  --transition-speed: 0.3s;
}

/* Code Font Styling */
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

/* Material Icons */
.material-icons, .material-icons-outlined {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  letter-spacing: normal;
  white-space: nowrap;
  vertical-align: middle;
  color: #d60270;

  /* Font smoothing for WebKit, Firefox, and IE */
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  font-feature-settings: 'liga';
}
